[Unit]
Description=Firedancer
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
LimitNOFILE=1000000
LogRateLimitIntervalSec=0
Environment="PATH=/bin:/usr/bin:/usr/local/bin"
ExecStartPre=fdctl configure init all --config {{ firedancer_config_path }}/config.toml
ExecStart=fdctl run --config {{ firedancer_config_path }}/config.toml
TimeoutSec=infinity

# Restart policy
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target